<div class="modal d-block" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title">{{modalTitle}}</span>
      </div>
      <div class="modal-body">
        @if (infoMessage) {
          <div class="alert alert-info mb-3" [innerHTML]="infoMessage | safe:'html'"></div>
        }
        <input #inputField type="text" class="form-control" [(ngModel)]="result">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="decline()" data-bs-dismiss="modal" i18n="@@i18n.common.cancel">cancel</button>
        @if (hasMore) {
          <button type="button" class="btn btn-primary" (click)="more()" hotkey="CTRL+SHIFT+ENTER" i18n="@@i18n.common.okAndNext">ok & next</button>
        }
        <button type="button" class="btn btn-primary" (click)="accept()" hotkey="CTRL+ENTER" i18n="@@i18n.common.ok">ok</button>
      </div>
    </div>
  </div>
</div>