<div class="row">
    <div class="col-md-8">
        <div class="card mb-3">
            <div class="card-header" i18n="@@i18n.common.milestones">milestones</div>
            <div class="card-body">
                <div class="mb-3 card card-info" i18n="@@i18n.settings.milestoneConversionFactorInfo">this factor is applied to the estimated time (PT) of invoice items when converting them to milestones, to account for project complexity and buffer time.</div>
                <input-settings-group
                    class="mb-2"
                    id="MILESTONE_CONVERSION_FACTOR"
                    i18n="@@i18n.settings.milestoneConversionFactor">milestone conversion factor</input-settings-group>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header" i18n="@@i18n.common.examples">examples</div>
            <div class="card-body">
                <div class="mb-2">
                    <strong>
                        <span i18n="@@i18n.common.factor">factor</span>
                        <span class="notranslate"> 1.5:</span>
                    </strong><br>
                    <span>
                        <span class="notranslate">2 </span>
                        <span i18n="@@i18n.settings.ptInvoiceItem3Days">PT invoice item → 3 days milestone</span>
                    </span>
                </div>
                <div class="mb-2">
                    <strong>
                        <span i18n="@@i18n.common.factor">factor</span>
                        <span class="notranslate"> 2.0:</span>
                    </strong><br>
                    <span>
                        <span class="notranslate">2 </span>
                        <span i18n="@@i18n.settings.ptInvoiceItem4Days">PT invoice item → 4 days milestone</span>
                    </span>
                </div>
                <div>
                    <strong>
                        <span i18n="@@i18n.common.factor">factor</span>
                        <span class="notranslate"> 1.0:</span>
                    </strong><br>
                    <span>
                        <span class="notranslate">2 </span>
                        <span i18n="@@i18n.settings.ptInvoiceItem2Days">PT invoice item → 2 days milestone</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>