@let _project = object();
<app-header>
    <div class="logo cursor-pointer" [style.background-image]="'url(' + _project.icon + ')'" smartLink="/customers/{{ _project.company!.id }}">
        <div ngbDropdown>
            <div class="dropdown-toggle dropdown-toggle-simple bg-transparent" (click)="$event.stopPropagation()" tabindex="0" (keydown.enter)="$event.stopPropagation()" style="font-weight: normal" ngbDropdownToggle>
                <project [project]="_project" [noRouting]="true"></project>
            </div>
            <ul class="dropdown-menu" ngbDropdownMenu>
                @for (state of global.getAllowedSucceedingProjectStatesFor(_project); track 'state:' + state.id) {
                    <li class="cursor-pointer">
                        <a class="dropdown-item hstack gap-2" (click)="setState($event, state.id)" (keyup.enter)="setState($event, state.id)" tabindex="0">
                            <span i18n="@@i18n.project.changeTo">change to</span> <span class="font-monospace" [style.color]="state.color">{{ state.name }}</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="h1 d-flex align-items-end">
        <div class="me-1 text-truncate">
            {{ _project.name }}
        </div>
    </div>
    @if (_project.company.id) {
        <ul class="nav">
            <header-route-nav [context]="_project" [routeConfig]="route.routeConfig"></header-route-nav>
            @if (_project.companys_active_projects.length) {
                <li class="nav-item" ngbDropdown [autoClose]="true" placement="bottom-start" #dropdown="ngbDropdown">
                    <a class="nav-link text-secondary d-flex align-items-center" ngbDropdownToggle (mouseenter)="dropdown.open()">
                        <i>apps</i>
                    </a>
                    <ul class="dropdown-menu" ngbDropdownMenu (mouseleave)="dropdown.close()">
                        @for (p of _project.companys_active_projects; track 'activeProject:' + p.id) {
                            <li>
                                <a class="dropdown-item hstack gap-2" [routerLink]="['/projects', p.id]">
                                    <project [project]="p" [noRouting]="true"></project>
                                    <span>{{ p.name }}</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
</app-header>

<router-outlet></router-outlet>

<ng-container>
    <activity-tab class="list-group list-group-accent" icon="chat">
        <app-tab-comments path="projects/{{ _project.id }}" [quickLinks]="_project.company" [projects]="_project.companys_active_projects" [currentProject]="_project">
            <activity-projects [project]="_project" [company]="_project.company"></activity-projects>
        </app-tab-comments>
    </activity-tab>
</ng-container>
