@use 'var' as *;

:host {
    position: relative;
    height: calc(100vh - $header-height - 1 * $grid-width);
    display: block;
}

customer-connections-chart {
    height: calc(100vh - $header-height - 1 * $grid-width);
}

.info-box-card {
  position: relative;
  z-index: 1;
}
.chart {
  height: calc(100vh - $header-height - 1 * $grid-width) !important;
  position: sticky;
  top: 0;
}
.sticky-side {
  position: sticky;
  top: $header-height;
  height: calc(100vh - $header-height - 1 * $grid-width) !important;
}