<router-outlet></router-outlet>

<app-header>
	<div class="logo" style="background-image: url(assets/images/project.jpg);"></div>
	<h1 i18n="@@i18n.common.projects">projects</h1>
	<ul class="nav">
		<header-link-item routerLink="." i18n-title="@@i18n.common.dashboard" title="dashboard"></header-link-item>
		<header-link-item routerLink="./frameworks" roles="invoicing" i18n-title="@@i18n.projects.frameworks" title="frameworks"></header-link-item>
		<header-link-item routerLink="milestones" i18n-title="@@i18n.common.milestones" title="milestones"></header-link-item>
		<header-link-item routerLink="./reporting" roles="invoicing" i18n-title="@@i18n.projects.reporting" title="reporting"></header-link-item>
		<header-link-item routerLink="./uptime" roles="user" i18n-title="@@i18n.common.uptime" title="uptime"></header-link-item>
		<header-link-item routerLink="./milestones" roles="user" i18n-title="@@i18n.common.milestones" title="milestones"></header-link-item>
		<header-link-item routerLink="./debriefing" roles="user" i18n-title="@@i18n.debrief.title" title="debriefing"></header-link-item>
		<!-- <header-link-item hotkey="CTRL+ALT+2" routerLink="" i18n-title="@@i18n.common.biasAnalysis" title="bias analysis"></header-link-item> -->
	</ul>
</app-header>
