@let _value = value();
@let _max = max();
@let _suffix = suffix();
<div class="info d-flex text-medium-emphasis">
    <div class="title text-truncate text-start flex-fill">{{ title() }}</div>
    <div class="desc text-end" [class.text-danger]="_value > _max">{{ _value / _max | percent }}</div>
</div>
<div class="position-relative bar-container w-auto" ngbTooltip="{{ _value | short }}{{ _suffix }} / {{ _max | short }}{{ _suffix }}">
    <div class="bar-tooltip-inside">
        <div class="progress position-absolute" style="height: 5px">
            <div class="progress-bar bg-{{ scss() }} bg-gradient" [class.text-danger]="_value > _max" [style.width]="(100 * _value) / _max + '%'" [style.backgroundColor]="color() ?? ''"></div>
        </div>
        @if (_value > _max) {
            <div class="progress position-absolute bg-transparent" style="overflow-y: visible; height: 5px">
                <div class="progress-bar bg-danger bg-gradient" [style.width]="100 * (_value / _max - 1) + '%'"></div>
            </div>
        }
    </div>
</div>
