.background {
    //height:100vh;
    background-image: url(../../../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}
