<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header" i18n="@@i18n.common.maintenance">maintenance</div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action pointer" routerLink="commercial_register" routerLinkActive="active" i18n="@@i18n.customers.commercialRegister">commercial register</li>
                <li class="list-group-item list-group-item-action pointer" routerLink="birthdays" routerLinkActive="active" i18n="@@i18n.common.birthdays">birthdays</li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>