<div class="activity">
    <ul class="nav nav-pills justify-content-start align-items-end" role="tablist" #buttonContainer>
        @for (tab of srv.tabs(); track tab; let i = $index) {
            @let _icon = tab.icon();
            @let _nicon = tab.nicon();
            <li class="nav-item position-relative" role="presentation">
                <button #buttonRef class="nav-link" [class.active]="srv.activeTabIndex() === i" [class.has-badge]="tab.badge()" id="activity-tab-{{ i }}" [class.d-none]="tab.hidden()" type="button" role="tab" [attr.aria-controls]="'activity-' + i" [attr.aria-selected]="srv.activeTabIndex() === i" (click)="srv.setActiveTab(i)">
                    @if (_icon) {
                        <i>{{ _icon }}</i>
                    }
                    @if (_nicon) {
                        <n>{{ _nicon }}</n>
                    }
                </button>
            </li>
        }
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="activity-nav-burger" (click)="onActivityTabClicked()" i18n-ngbTooltip="@@i18n.common.minimize" ngbTooltip="minimize">
                <i>menu</i>
            </button>
        </li>
    </ul>
    <div class="tab-content" #content></div>
</div>
