<app-header>
	<div class="logo" style="background-image: url(assets/images/document.jpg);"></div>
	<h1 i18n="@@i18n.common.documents">documents</h1>
	<ul class="nav">
		<header-link-item hotkey="CTRL+ALT+1" title="Dashboard" routerLink="./dashboard" icon="dashboard"></header-link-item>
	</ul>
</app-header>

<scrollbar>
	<div class="row">
		<div class="col-md-3">
			<span class="card-title" i18n="@@i18n.common.documents">documents</span>
			<div class="list-group list-group-flush">
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
				</div>
			</div>
		</div>
	</div>
</scrollbar>
