<div class="card">
    <div class="card-header" i18n="@@i18n.common.general">general</div>

    <div class="card-body">
        <input-settings-group id="PROJECT_CREATE_AUTO_BUDGET" i18n="@@i18n.settings.initialTimeBudgetForUserOnNewProjectCreation">initial time budget for user on new project creation</input-settings-group>
        <input-settings-group id="NOTIFICATION_EMAIL_ON_FRAMEWORK_UPDATE" i18n="@@i18n.settings.frameworkUpdateEmail">email address for framework update notifications</input-settings-group>
    </div>
</div>
