@if (options()) {
  <apx-chart
    [series]             = "options().series??[]"
    [chart]              = "options().chart??{}"
    [colors]              = "options().colors??[]"
    [annotations]        = "options().annotations??{}"
    [dataLabels]         = "options().dataLabels??{}"
    [fill]               = "options().fill??{}"
    [forecastDataPoints] = "options().forecastDataPoints??{}"
    [grid]               = "options().grid??{}"
    [labels]             = "options().labels??[]"
    [legend]             = "options().legend??{}"
    [markers]            = "options().markers??{}"
    [noData]             = "options().noData??{}"
    [plotOptions]        = "options().plotOptions??{}"
    [responsive]         = "options().responsive??[]"
    [states]             = "options().states??{}"
    [stroke]             = "options().stroke??{}"
    [subtitle]           = "options().subtitle??{}"
    [theme]              = "options().theme??{}"
    [tooltip]            = "options().tooltip??{}"
    [xaxis]              = "options().xaxis??{}"
    [yaxis]              = "options().yaxis??{}"
    >
  </apx-chart>
}