<activity-tab icon="copy_all" [hidden]="true">
    <div class="container">
        <scrollbar>
            @for (class of getKeys(); track class) {
            <div class="header w-100 d-flex">
                @if (rootAcceptsChildren(class)) {
                <div (click)="insertAll(class)" ngbTooltip="insert all" class="me-2" i18n-ngbTooltip="@@i18n.common.insertAll">
                    <i class="text-primary pointer">first_page</i>
                </div>
                }
                <div class="flex-fill">{{class}}</div>
                <div>
                    <i class="text-primary pointer" ngbTooltip="clear all"
                        (click)="removeAll(class)">content_paste_off</i>
                </div>
            </div>
            <ul class="list-group w-100">
                @for (o of getClips(class); track o.id) {
                <li class="list-group-item hstack gap-2 align-items-center" context="clipboard">
                    @if (rootAcceptsChildren(class)) {
                    <i class="text-primary pointer" ngbTooltip="insert" (click)="insert(o)">first_page</i>
                    }
                    <img class="avatar avatar-xs" [src]="o.icon" alt="">
                    <div class="flex-fill">{{o.getName()}}</div>
                </li>
                }
            </ul>
            }
        </scrollbar>
    </div>
</activity-tab>