@let c = contact();
@let personal = c.getPersonal();
@let isCC = isCompanyContact();
@let cc = asCompanyContact();
@let formality = personal?.getFormality();

@if (hasImage()) {
    <div>
        @if (isUser()) {
            <avatar [object]="asUser()"></avatar>
        }
        @if (isCompany()) {
            <avatar [object]="asCompany()"></avatar>
        }
        @if (isCC) {
            <avatar [object]="cc"></avatar>
        }
        @if (badgeColor()) {
            <span class="avatar-status" [style.background-color]="badgeColor() + ' !important'"></span>
        }
    </div>
}
@if (isCC) {
    <div class="cursor-pointer align-bottom">
        <i class="text-{{ cc.is_favorite ? 'yellow' : 'muted' }}" (click)="toggleFav($event)" (keyup.enter)="toggleFav($event)" tabindex="0">star</i>
    </div>
}
<div class="hstack gap-2 flex-fill align-items-center overflow-hidden">
    <span class="flex-fill text-truncate overflow-hidden">
        @if (c.firstName() || c.familyName()) {
            @if (c.honoraryPrefix().length) {
                <span class="text-muted small">{{ c.honoraryPrefix() }} </span>
            }
            <span [class.fw-bold]="formality !== 'formal'" [class.text-muted]="formality !== 'informal'">{{ c.firstName() }} </span>
            <span [class.fw-bold]="formality === 'formal'" [class.text-muted]="formality === 'informal'">{{ c.familyName() }}</span>
            @if (c.honorarySuffix().length) {
                <span class="text-muted small"> {{ c.honorarySuffix() }}</span>
            }
        } @else {
            <span class="fw-bold">{{ c.getName() }}</span>
        }
    </span>
    <div class="d-flex gap-1">
        @for (item of icons(); track item.instance) {
            <a (click)="openProfile(item.instance, $event)" (keyup.enter)="openProfile(item.instance, $event)" tabindex="0" [ngbTooltip]="item.tooltip" container="parent" placement="bottom" class="cursor-pointer">
                <n [class]="item.iconClass">{{ item.icon }}</n>
            </a>
        }
    </div>
</div>

<ng-content class="content"></ng-content>

@let _card = c.card();
@if (_card && showQuickContact()) {
    <span class="quickContacts text-nowrap">
        @for (p of _card.get('TEL'); track p.track_id) {
            <a class="ms-1" href="tel:{{ trimmed(p.val()) }}" [ngbTooltip]="p.type() + trimmed(p.val())" container="parent" placement="bottom"
                ><i>{{ p.contactIcon() }}</i></a
            >
            @if (p.isMobile()) {
                <a class="ms-1" href="https://web.whatsapp.com/send/?phone={{ whatsapp(p.val()) }}&text&type=phone_number&app_absent=0" target="whatsappweb" ngbTooltip="WhatsApp" container="parent" placement="bottom" i18n-ngbTooltip="@@i18n.common.whatsapp"><i>maps_ugc</i></a>
            }
        }
        @for (p of _card.get('EMAIL'); track p.track_id) {
            <a class="ms-1" href="mailto:{{ p.val() }}?subject={{ encodedSubject() }}" [ngbTooltip]="p.val()" container="parent" placement="bottom"
                ><i>{{ p.contactIcon() }}</i></a
            >
        }
    </span>
}
<small class="text-truncate smaller text-{{ roleColor() }} role">{{ role() }}</small>
