@let obj = object();
@if (obj) {
<div class="card mb-3">
  <div class="card-header hstack gap-2 align-items-center" [class.p-0]="isCompany()">

    @if (isCompany()) {
    <div class="ps-3 flex-fill">
      <input (blur)="updateVcard()" (click)="useName($event)" tabindex="0" (keydown.enter)="useName($event)" type="text" class="form-control-header" [ngModel]="org()"
        (keyup)="onOrgChange($event)" id="companyName" placeholder="company name"
        i18n-placeholder="@@i18n.customers.company_name">
    </div>
    }

    @if (isUser()) {
    <ng-container *ngTemplateOutlet="title; context: { object: obj, icon: 'person' }"></ng-container>
    }

    @if (isContact()) {
    <ng-container *ngTemplateOutlet="title; context: { object: obj, icon: 'person' }"></ng-container>
    }

    @if (isCompanyContact()) {
    <ng-container *ngTemplateOutlet="title; context: { object: obj, icon: 'work' }"></ng-container>
    }

    @if (isProspect()) {
    <ng-container *ngTemplateOutlet="title; context: { object: obj, icon: 'group' }"></ng-container>
    }

    <div class="card-header-actions d-flex ps-3">
      <div ngbDropdown>
        <button class="card-header-action btn btn-plain text-primary" [class.m-3]="isCompany()" type="button"
          ngbDropdownToggle aria-expanded="false">
          <i>add</i>
        </button>

        <ul class="dropdown-menu autoposition" ngbDropdownMenu>
          <li>@if (isContact() || isProspect()) {
            <a class="dropdown-item capitalize" (click)="addRow('N:;;;;')" (keyup.enter)="addRow('N:;;;;')" tabindex="0" i18n="@@i18n.common.name">name</a>
            }
          </li>
          <li>@if (isCompanyContact() || isUser() || isProspect()) {
            <a class="dropdown-item capitalize" (click)="addRow('TITLE:')" (keyup.enter)="addRow('TITLE:')" tabindex="0" i18n="@@i18n.common.position">position</a>
            }
          </li>
          <li><a class="dropdown-item capitalize" (click)="addRow('TEL;type='+type()+',VOICE:')" (keyup.enter)="addRow('TEL;type='+type()+',VOICE:')" tabindex="0"
              i18n="@@i18n.common.telephone">telephone</a></li>
          <li><a class="dropdown-item capitalize" (click)="addRow('TEL;type='+type()+',CELL:')" (keyup.enter)="addRow('TEL;type='+type()+',CELL:')" tabindex="0"
              i18n="@@i18n.common.mobile">mobile</a></li>
          <li><a class="dropdown-item capitalize" (click)="addRow('TEL;type='+type()+',FAX:')" (keyup.enter)="addRow('TEL;type='+type()+',FAX:')" tabindex="0"
              i18n="@@i18n.common.fax">fax</a></li>
          <li><a class="dropdown-item capitalize" (click)="addRow('EMAIL;type='+type()+':')" (keyup.enter)="addRow('EMAIL;type='+type()+':')" tabindex="0"
              i18n="@@i18n.common.email">email</a></li>
          <li><a class="dropdown-item capitalize" (click)="addRow('ADR:;;;;;;')" (keyup.enter)="addRow('ADR:;;;;;;')" tabindex="0"
              i18n="@@i18n.common.address">address</a></li>
          <li>@if (isContact() || isUser()) {
            <a class="dropdown-item capitalize" (click)="addRow('BDAY:1982-01-01')" tabindex="0" (keydown.enter)="addRow('BDAY:1982-01-01')"
              i18n="@@i18n.common.birthday">birthday</a>
            }
          </li>
          <!-- <li><a class="dropdown-item capitalize" *ngIf="isCompanyContact() || isUser()" (click)="addRow('ROLE:')" tabindex="0" (keydown.enter)="addRow('ROLE:')" i18n="@@i18n.common.role">role</a></li> -->
          <li>@if (isCompany() || isContact() || isProspect()) {
            <a class="dropdown-item capitalize" (click)="addRow('URL;type='+type()+':')" (keyup.enter)="addRow('URL;type='+type()+':')" tabindex="0" i18n="@@i18n.common.url">URL</a>
            }
          </li>
          <li>@if (isContact() || isUser() || isProspect()) {
            <a class="dropdown-item capitalize" (click)="addRow('URL;type=linkedin:')" tabindex="0" (keydown.enter)="addRow('URL;type=linkedin:')"
              i18n="@@i18n.common.socialMedia">social media</a>
            }
          </li>
          <li>@if (isProspect()) {
            <a class="dropdown-item capitalize" (click)="addRow('ORG:')" (keyup.enter)="addRow('ORG:')" tabindex="0" i18n="@@i18n.common.company">company</a>
            }
          </li>
          <li>@if (isUser()) {
            <a class="dropdown-item capitalize" (click)="addEmergencyContact()" tabindex="0" (keydown.enter)="addEmergencyContact()"
              i18n="@@i18n.common.emergencyContact">emergency contact</a>
            }
          </li>
          <li>@if ((isCompany() || isProspect()) && !hasLanguageFormality()) {
            <a class="dropdown-item capitalize" (click)="addLanguageFormality()" tabindex="0" (keydown.enter)="addLanguageFormality()"
              i18n="@@i18n.common.languageFormality">language & formality</a>
            }
          </li>
        </ul>
      </div>
    </div>
  </div>
  @if (obj.card; as card) {
  <ul class="list-group list-group-dark">

    <!-- Business Register Information -->
    @if (isCompany() && isRealCompany()) {
    <li class="list-group-item">
      <div class="input-group">
        <span class="input-group-text" style="width: auto; min-width: 50px;">
          <i ngbTooltip="Business Register">business</i>
        </span>
        <select class="form-control" [ngModel]="getRegisterType()" (ngModelChange)="setRegisterType($event)"
          (change)="updateCommercialRegister()">
          <option value="" i18n="@@i18n.common.type">type</option>
          <option value="HRA" i18n="@@i18n.common.hra">HRA</option>
          <option value="HRB" i18n="@@i18n.common.hrb">HRB</option>
          <option value="GnR" i18n="@@i18n.common.gnr">GnR</option>
          <option value="PR" i18n="@@i18n.common.pr">PR</option>
          <option value="VR" i18n="@@i18n.common.vr">VR</option>
        </select>
        <input type="text" class="form-control" [ngModel]="getRegisterNumber()"
          (ngModelChange)="setRegisterNumber($event)" (blur)="updateCommercialRegister()" placeholder="123456">
        <input type="text" class="form-control" [ngModel]="getRegisterCourt()"
          (ngModelChange)="setRegisterCourt($event)" (blur)="updateCommercialRegister()" placeholder="München" i18n-placeholder="@@i18n.common.münchen">
      </div>
    </li>
    }

    @if (isContact() || isUser() || isProspect()) {

    <li [nx]="card.get('FN').first()!" (singleActionResolved)="singleActionResolved($event)" [class]="liClass">
      <div class="mb-1">
        <div class="input-group">
          <span class="input-group-text">
            <i ngbTooltip="name" i18n-ngbTooltip="@@i18n.common.name">badge</i>
          </span>
          <input (blur)="updateVcard()" (keyup)="onFnChange($event)" type="text" class="form-control" id="floatingInput"
            placeholder="name" [(ngModel)]="card.get('FN').first()!.vals[0]" i18n-placeholder="@@i18n.common.name">
          <div (click)="showNameDetails = !showNameDetails" (keyup.enter)="showNameDetails = !showNameDetails" tabindex="0">
            <i class="p-2 pointer text-primary">{{showNameDetails ? 'expand_less' : 'expand_more'}}</i>
          </div>
        </div>
      </div>
    </li>

    @if (showNameDetails) {
    <li [nx]="card.get('N').first()!" (singleActionResolved)="singleActionResolved($event)" [class]="liClass">
      @for (val of card.get('N').first()!.vals; track j; let j = $index) {
      <div class="mb-1">
        <div class="input-group">
          <label for="floatingInput" class="input-group-text col-4">{{obj.descN(j)}}</label>
          <input (blur)="updateVcard()" (keyup)="onNChange(card.get('N').first()!)" type="text"
            class="form-control" id="floatingInput" placeholder="name"
            [(ngModel)]="card.get('N').first()!.vals[j]" i18n-placeholder="@@i18n.common.name">
        </div>
      </div>
      }
    </li>
    }

    }

    @for (row of card.rows; track i; let i = $index) {

    @switch (row.key) {
    @case ('ADR') {
    <li class="d-flex" [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass"
      [class.accent-danger]="needsWarning(row)" [attr.title]="needsWarning(row) || null">
      <div class="flex-fill me-3">
        <div class="form-floating mb-2">
          <input (blur)="updateVcard()" type="text" class="form-control" id="adr-{{i}}-1" placeholder="{{obj.descAdr(1)}}"
            [(ngModel)]="card.rows[i].vals[1]">
          <label for="adr-{{i}}-1">{{obj.descAdr(1)}}</label>
        </div>
        <div class="form-floating mb-2">
          <input (blur)="updateVcard()" type="text" class="form-control" id="adr-{{i}}-2" placeholder="{{obj.descAdr(2)}}"
            [(ngModel)]="card.rows[i].vals[2]">
          <label for="adr-{{i}}-2">{{obj.descAdr(2)}}</label>
        </div>
        <div class="row g-2 mb-2">
          <div class="col-auto" style="width: 150px;">
            <div class="form-floating">
              <input (blur)="updateVcard()" type="text" class="form-control" id="adr-{{i}}-5" placeholder="{{obj.descAdr(5)}}"
                [(ngModel)]="card.rows[i].vals[5]" (keyup)="onPlzUpdate(row)">
              <label for="adr-{{i}}-5">{{obj.descAdr(5)}}</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input (blur)="updateVcard()" type="text" class="form-control" id="adr-{{i}}-3" placeholder="{{obj.descAdr(3)}}"
                [(ngModel)]="card.rows[i].vals[3]">
              <label for="adr-{{i}}-3">{{obj.descAdr(3)}}</label>
            </div>
          </div>
        </div>
        <div class="form-floating mb-2">
          <input (blur)="updateVcard()" type="text" class="form-control" id="adr-{{i}}-4" placeholder="{{obj.descAdr(4)}}"
            [(ngModel)]="card.rows[i].vals[4]">
          <label for="adr-{{i}}-4">{{obj.descAdr(4)}}</label>
        </div>
        <div class="form-floating">
          <select (change)="updateVcard()" class="form-select" id="adr-{{i}}-6" [(ngModel)]="card.rows[i].vals[6]">
            @for (c of db_countries; track c) {
            <option [ngValue]="c.alpha2">{{c.name}}</option>
            }
          </select>
          <label for="adr-{{i}}-6">{{obj.descAdr(6)}}</label>
        </div>
      </div>
      @if (hasGeoForAddress(i); as geoRow) {
      <div class="flex-shrink-0 d-flex align-items-start" style="width: 200px; height: 220px;">
        <div #mapContainer class="map-container" style="width:100%; height:220px;" [attr.data-map-id]="'map-' + i"
          [attr.data-lat]="geoRow.vals[0]" [attr.data-lon]="geoRow.vals[1]">
        </div>
      </div>
      }
    </li>
    }


    @case ('N') {

    }
    @case ('FN') {

    }
    @case ('GEO') {

    }

    @case ('URL') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [attr.title]="needsWarning(row) || null">
      <div class="input-group">

        @if (row.isSocialMedia()) {
        <span class="input-group-text">
          <div ngbDropdown>
            <button class="btn btn-dark dropdown-toggle" type="button" ngbDropdownToggle>
              @if (smSrcForKey(row.getType())) {
              <img [src]="smSrcForKey(row.getType())" class="avatar avatar-sm avatar-img" alt="">
              }
              {{row.getType()}}
            </button>
            <div class="dropdown-menu" ngbDropdownMenu>
              @for (type of smtypekeys; track type) {
              <button class="dropdown-item hstack gap-2" (click)="row.setType(type); updateVcard();" tabindex="0" (keydown.enter)="row.setType(type); updateVcard();">
                <img [src]="smtypes[type]" class="avatar avatar-sm avatar-img" alt="">
                {{type}}
              </button>
              }
            </div>
          </div>
        </span>
        }
        @if (!row.isSocialMedia()) {
        <span class="input-group-text">
          <i ngbTooltip="URL" i18n-ngbTooltip="@@i18n.common.url">link</i>
        </span>
        }

        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }

        @if (!row.isSocialMedia()) {
        <span class="input-group-text">
          <button class="btn btn-plain text-primary" (click)="importImprint()" tabindex="0" (keydown.enter)="importImprint()" [disabled]="isImportingImprint"
            ngbTooltip="import from imprint" i18n-ngbTooltip="@@i18n.company.import_from_imprint">
            @if (isImportingImprint) {
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            } @else {
              <i>find_in_page</i>
            }
          </button>
        </span>
        }
      </div>
    </li>
    }

    @case ('EMAIL') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="email" i18n-ngbTooltip="@@i18n.common.email">mail</i>
        </span>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    @case ('TEL') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null"
      [class.d-none]="isEmergencyTelForRelated(row)">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="telephone" i18n-ngbTooltip="@@i18n.common.telephone">call</i>
        </span>
        <ng-container *ngTemplateOutlet="telTypeDropdown; context: { row: row }"></ng-container>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    @case ('RELATED') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null">
      @if (getEmergencyTelForRelated(i); as telRow) {

      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="emergency contact" i18n-ngbTooltip="@@i18n.common.emergencyContact"
            style="color: cyan;">contact_emergency</i>
        </span>
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="name"
          i18n-placeholder="@@i18n.common.name" [(ngModel)]="row.vals[0]">
        <ng-container *ngTemplateOutlet="telTypeDropdown; context: { row: telRow }"></ng-container>
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="telephone"
          i18n-placeholder="@@i18n.common.telephone" [(ngModel)]="telRow.vals[0]">
      </div>

      }
    </li>
    }
    @case ('BDAY') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="birthday" i18n-ngbTooltip="@@i18n.common.birthday">cake</i>
        </span>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    @case ('X-LANG') {
    <li [class]="liClass">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="language" i18n-ngbTooltip="@@i18n.common.language">language</i>
        </span>
        <select class="form-select" [ngModel]="obj.getLang()" (ngModelChange)="obj.setLang($event); updateVcard()">
          <option value="de" i18n="@@i18n.common.deutsch">deutsch</option>
          <option value="en" i18n="@@i18n.common.english">english</option>
          <option value="fr" i18n="@@i18n.common.français">français</option>
          <option value="es" i18n="@@i18n.common.español">español</option>
        </select>
      </div>
    </li>
    }
    @case ('X-FORMALITY') {
    <li [class]="liClass">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="formality" i18n-ngbTooltip="@@i18n.common.formality">perm_identity</i>
        </span>
        <select class="form-select" [ngModel]="obj.getFormality()" (ngModelChange)="obj.setFormality($event); updateVcard()">
          <option value="formal" i18n="@@i18n.common.formal">formal</option>
          <option value="informal" i18n="@@i18n.common.informal">informal</option>
        </select>
      </div>
    </li>
    }
    @case ('TITLE') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="position" i18n-ngbTooltip="@@i18n.common.position">school</i>
        </span>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    @case ('ORG') {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null" [class.d-none]="isCompany()">
      <div class="input-group">
        <span class="input-group-text">
          <i ngbTooltip="organization" i18n-ngbTooltip="@@i18n.common.organization">domain</i>
        </span>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    @default {
    <li [nx]="row" (singleActionResolved)="singleActionResolved($event)" [class]="liClass" [class.accent-danger]="needsWarning(row)"
      [attr.title]="needsWarning(row) || null" [class.d-none]="(isCompany() && row.key==='ORG')">
      <div class="input-group">
        <span class="input-group-text col-desc">{{row.key}}</span>
        @for (val of row.vals; track j; let j = $index) {
        <input (blur)="updateVcard()" type="text" class="form-control" placeholder="{{row.key}}"
          [attr.aria-label]="row.key" [(ngModel)]="card.rows[i].vals[j]">
        }
      </div>
    </li>
    }
    }

    }
  </ul>
  }
</div>
}

<ng-template #title let-object="object" let-icon="icon">
  <i>{{icon}}</i>
  <span class="text-muted small">{{object.honoraryPrefix}}</span>
  {{object.name}}
  <span class="text-muted small">{{object.honorarySuffix}}</span>
</ng-template>

<ng-template #telTypeDropdown let-row="row">
  <span class="input-group-text">
    <div ngbDropdown placement="bottom-end">
      <span class="badge text-bg-secondary dropdown-toggle pointer" ngbDropdownToggle>
        {{getTelType(row)}}
      </span>
      <div class="dropdown-menu" ngbDropdownMenu>
        <button class="dropdown-item" (click)="setTelType(row, 'VOICE'); updateVcard()" tabindex="0" (keydown.enter)="setTelType(row, 'VOICE'); updateVcard()" i18n="@@i18n.common.voice">voice</button>
        <button class="dropdown-item" (click)="setTelType(row, 'CELL'); updateVcard()" tabindex="0" (keydown.enter)="setTelType(row, 'CELL'); updateVcard()" i18n="@@i18n.common.mobile">mobile</button>
        <button class="dropdown-item" (click)="setTelType(row, 'FAX'); updateVcard()" tabindex="0" (keydown.enter)="setTelType(row, 'FAX'); updateVcard()" i18n="@@i18n.common.fax">fax</button>
        <button class="dropdown-item" (click)="setTelType(row, 'WORK'); updateVcard()" tabindex="0" (keydown.enter)="setTelType(row, 'WORK'); updateVcard()" i18n="@@i18n.common.work">work</button>
        <button class="dropdown-item" (click)="setTelType(row, 'HOME'); updateVcard()" tabindex="0" (keydown.enter)="setTelType(row, 'HOME'); updateVcard()" i18n="@@i18n.common.home">home</button>
      </div>
    </div>
  </span>
</ng-template>
