@let _contact = contact();

<div class="card mb-3">
    <div class="card-header hstack gap-2">
        <div i18n="@@i18n.common.at2connect" class="flex-fill">at2 connect</div>
        @if (_contact.qr_code) {
        <i (click)="deleteAt2ConnectToken()" (keyup.enter)="deleteAt2ConnectToken()" tabindex="0"
            class="text-danger cursor-pointer">delete</i>
        } @else {
        <i (click)="createAt2ConnectToken()" (keyup.enter)="createAt2ConnectToken()" tabindex="0"
            class="text-primary cursor-pointer" ngbTooltip="Zugangs-Token erstellen">add</i>
        }
    </div>
    <div class="list-group list-group-dark container">
        @if (_contact.qr_code) {
        <div>
            <div class="text-center">
                <img [src]="_contact.qr_code" (click)="openAt2Connect()" (keyup.enter)="openAt2Connect()" tabindex="0"
                    alt="QR Code" class="img-fluid w-25 my-3 cursor-pointer" />
            </div>
        </div>
        }
    </div>
</div>