@if (project) {
  <a href="#" smartLink="/projects/{{project.id}}" class="list-group-item list-group-item-action">
    <div class="float-end">
      <span class="badge rounded-pill bg-{{project.colorCss}} text-black">{{project.due_at}}</span>
    </div>
    <div class="d-flex">
      <div class="avatar avatar-md me-3">
        <img class="avatar-img" src="{{getImageUrl()}}" alt="">
        <span class="avatar-status bg-success"></span>
      </div>
      <div class="w-100 me-3">
        <div class="clearfix">
          <div class="float-end"><small>{{project.state}}</small></div>
          <div class="float-begin text-truncate"><strong>{{project.name}}</strong></div>
        </div>
        <div size="xs" class="progress">
          @if (project.progress <= 100) {
            <div [style.width]="project.progress + '%'" [attr.aria-valuenow]="project.progress" aria-valuemin="0" aria-valuemax="100"
              role="progressbar" class="bg-{{project.colorCss}} progress-bar">
            </div>
          }
          @if (project.progress > 100) {
            <div [style.width]="(project.progress-100) + '%'" [attr.aria-valuenow]="project.progress" aria-valuemin="0" aria-valuemax="100"
              role="progressbar" class="bg-danger progress-bar">
            </div>
          }
        </div>
      </div>
    </div>
  </a>
}
