<toolbar>
  <button type="button mb-3" class="btn btn-primary ms-3 capitalize" (click)="saveComments()" tabindex="0" (keydown.enter)="saveComments()" ngbTooltip="CTRL+ALT+S"
    hotkey="CTRL+ALT+S">
    <i>save</i><span i18n="@@i18n.common.save">save</span>
  </button>
</toolbar>
<div class="row">

  <div class="col-3">
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <div i18n="@@i18n.common.contacts">contacts</div>
        <button class="card-header-action btn text-primary float-end" type="submit" (click)="createContact()" tabindex="0" (keydown.enter)="createContact()"
          title="add" i18n-title="@@i18n.common.add">
          <i>add</i>
        </button>
      </div>
      <ul class="list-group" #company>
        @for (c of customer.employees; track c.id) {
          @if (!c.is_retired) {
            <list-group-item-contact [nx]="c" [tables]="customer.employees"
              [contact]="c" [showQuickContact]="true" [subject]="customer.name" (click)="selectItem(c, $event)" tabindex="0" (keydown.enter)="selectItem(c, $event)"
              (actionsResolved)="onAssignmentActions($event)">
              <div class="hstack gap-1">
                @if (birthdayMissing(c)) {
                  <div>
                    <i class="text-warning" ngbTooltip="Birthday missing"
                    i18n-ngbTooltip="@@i18n.customers.birthdayMissing">cake</i>
                  </div>
                }
                @if (linkedinMissing(c)) {
                  <div>
                    <i class="text-warning" ngbTooltip="LinkedIn missing"
                    i18n-ngbTooltip="@@i18n.customers.linkedinMissing">link</i>
                  </div>
                }
              </div>
            </list-group-item-contact>
          }
        }
      </ul>
    </div>

    <div class="card">
      <div class="card-header">
        connections
        <span class="badge bg-lighter ms-2">{{connections.length}}</span>
        <div class="card-header-actions">
          <div ngbDropdown>
            <i class="text-primary cursor-pointer" [ngbPopover]="popContent" placement="end"
            container="body" [autoClose]="'outside'" popoverTitle="Add connection">add</i>&nbsp;
            <i class="text-primary btn-plain h-auto pointer" ngbDropdownToggle></i>
            <ul class="autoposition" ngbDropdownMenu style="text-transform: none;"
              aria-labelledby="addButton">
              <li>
                <a class="dropdown-item pointer d-flex px-3 py-2 cursor-pointer"
                  (click)="createCompany()" tabindex="0" (keydown.enter)="createCompany()">
                  <span i18n="@@i18n.common.newCompany">new company</span>
                </a>
              </li>
            </ul>
          </div>

          <ng-template #popContent>
            <search-input #popSearch only="Company" (itemSelected)="onCompanySelect($event)"></search-input>
          </ng-template>
        </div>
      </div>

      @if (parent.current) {
        <ul-compact class="list-group">
          <li class="list-group-item d-flex text-nowrap p-0 compact" *nxFor="let con of connections">
            <div class="hstack gap-2 p-2 w-100" (click)="selectItem(con, $event)" (keyup.enter)="selectItem(con, $event)" tabindex="0">
              <div>
                <avatar [object]="con.otherCompany(parent.current)"></avatar>
              </div>
              <div class="flex-fill text-truncate">{{con.otherCompany(parent.current)?.name}}</div>
            </div>
          </li>
        </ul-compact>
      }
    </div>
  </div>

  <div class="col-6">
    <div class="row">
      <div class="col-6">
        <div class="card info-card mb-3">
          <div class="card-header">
            <span i18n="@@i18n.common.revenue">revenue</span>
            <span class="badge bg-lighter ms-2 py-1 px-1" ngbTooltip="accumulated revenue of the last 12 months" i18n="@@i18n.common.12m" i18n-ngbTooltip="@@i18n.invoice.revenue12m">12m</span>
            <div class="chart-title ms-auto">{{(revenueChart.value ? revenueChart.value : 0) | money}}</div>
          </div>
          <chart-card-range #revenueChart keyPath="{{parent.current.getParamPath('INVOICE_REVENUE_12M,INVOICE_DEG_12M')}}" [color]="['white','primary']"></chart-card-range>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-3 info-card">
          <div class="card-header d-flex justify-content-between align-items-center">
            <div i18n="@@i18n.common.contact">contact</div>
            <a [href]="customer.getApiPathWithId()" target="_blank" class="pointer text-primary"><i>chevron_right</i></a>
          </div>
          <div class="card-body">
            <div [innerHTML]="customer.address| safe:'html'"></div>
          </div>
        </div>
      </div>

    </div>

    <div id="notesContainer">
      @for (note of notes; track note.id) {
        @if (getItem(note); as item) {
          @if (note.var.active && isInstanceOf(item, 'Project')) {
            <div class="card mb-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>{{asProject(item).name}}</div>
                </div>
                <rte [object]="item" key="description" [compact]="true"></rte>
            </div>
          }
          @if (note.var.active && (isInstanceOf(item, 'Company') || isInstanceOf(item, 'Project'))) {
            <media-preview [parent]="item"></media-preview>
          }
        }
        @if (getItem(note); as item) {
          @if (note.var.active && isCompanyContact(item)) {
            <app-vcard [object]="item.contact" type="home"></app-vcard>
            <app-vcard [object]="item"></app-vcard>
          }
          @if (note.var.active && isInstanceOf(item, 'Company')) {
            <app-vcard [object]="item"></app-vcard>
          }
        }
      }
    </div>

  </div>
  <div class="col-3">

    <div class="card mb-3 info-card">
      <customer-quickstats [company]="parent.current"></customer-quickstats>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
          <div i18n="@@i18n.common.projects">projects</div>
          <button class="card-header-action btn text-primary float-end" type="submit"
            (click)="createProject($event)" tabindex="0" (keydown.enter)="createProject($event)" title="add" i18n-title="@@i18n.common.add">
            <i>add</i>
          </button>
        </div>
      </div>
      <div>
        @if (projects.length === 0) {
          <empty-state class="projects" title="no projects yet..."
          i18n-title="@@i18n.projects.noProjectsYet"></empty-state>
        }
        <ng-container *ngTemplateOutlet="projectList; context: { $implicit: projects }"></ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #projectList let-items>
  @if (projects.length > 0) {
    <div>
      <ul-compact class="list-group">
        @for (item of items; track item.id) {
          <li class="list-group-item p-0" [class.compact]="asProject(item).state.progress === 2">
            <div class="hstack gap-2 p-2" [nx]="item" (click)="selectItem(item, $event)" (keyup.enter)="selectItem(item, $event)" tabindex="0">
              <div>
                <project [project]="item"></project>
              </div>
              <div class="flex-fill text-truncate">
                {{item.name}}
              </div>
              <button class="btn btn-sm text-primary btn-plain" type="button"
                (click)="createSubProject($event, item)" tabindex="0" (keydown.enter)="createSubProject($event, item)" title="add subproject" i18n-title="@@i18n.projects.addSubproject">
                <i>add</i>
              </button>
            </div>
          </li>
        }
      </ul-compact>
    </div>
  }
</ng-template>