@if (draft(); as d) {
    <toolbar>
        <button type="button" class="btn btn-primary ms-3 capitalize" (click)="keep()" tabindex="0" (keydown.enter)="keep()">
            <i>person_add</i><span i18n="@@i18n.knownseq.keep_caller">keep caller</span>
        </button>
        <button type="button" class="btn btn-outline-primary ms-2 capitalize" (click)="discard()" tabindex="0" (keydown.enter)="discard()">
            <i>delete</i><span i18n="@@i18n.common.discard">discard</span>
        </button>
    </toolbar>
    <customers-known-sequitur [company]="d" [autoSelectContact]="true" [callerNumber]="callerNumber()" />
} @else {
    <spinner></spinner>
}
