@let _min   = min() || 0;
@let _max   = max() || 0;
@let _dx    = dx() || 0;
@let _delta = delta() || 0;
@let _unit  = unit() || 'money';
@let _range = _max - _min;

<div class="d null" [style.left.%]="100 * -_min / _range" [style.--null-position]="(100 * -_min / _range) + '%'"></div>

@if (_dx < 0) {
  <div class="d offset offset-n" [style.width.%]="100 * -_dx / _range" [style.left.%]="100 * (_dx - _min) / _range"></div>
} @else {
  <div class="d offset offset-p" [style.width.%]="100 * _dx / _range" [style.left.%]="100 * -_min / _range"></div>
}

@if (_delta < 0) {
  <div class="d offset change-n" [style.width.%]="100 * -_delta / _range" [style.left.%]="100 * (_delta - _min + _dx) / _range"></div>
  <div class="t text-end small text-danger">
    @if (_unit === 'money') { <span>{{_delta | money}}</span> }
    @else { <span>{{_delta | number:'1.0-1'}}<span class="small text-muted"> h</span></span> }
  </div>
} @else {
  <div class="d offset change-p" [style.width.%]="100 * _delta / _range" [style.left.%]="100 * (-_min + _dx) / _range"></div>
  <div class="t small text-success">
    @if (_unit === 'money') { <span>{{_delta | money}}</span> }
    @else { <span>{{_delta | number:'1.0-1'}}<span class="small text-muted"> h</span></span> }
  </div>
}
