@font-face { font-family: 'Michroma'; font-style:normal; font-weight: normal; src: url('../assets/fonts/Michroma-Regular.ttf'); }
@font-face { font-family: 'BrunoAce'; font-style:normal; font-weight: normal; src: url('../assets/fonts/BrunoAce-Regular.ttf'); }
@font-face { font-family: 'SourceSans'; font-style:normal; font-weight: normal; src: url('../assets/fonts/SourceSansPro-Regular.ttf'); }
@font-face { font-family: 'SourceSans'; font-style:normal; font-weight: bold; src: url('../assets/fonts/SourceSansPro-Bold.ttf'); }
@font-face { font-family: 'SourceSansBold'; font-style:normal; font-weight: normal; src: url('../assets/fonts/SourceSansPro-Black.ttf'); }
@font-face { font-family: 'NxIcons'; font-style:normal; font-weight: normal; src: url('../assets/fonts/NxIcons.ttf'); }

.text-header { font-family: 'BrunoAce'; }