:host ::ng-deep .ranges { display: none;}

$barHeight: 5px;
$barSpacing: 3px;
$barOffset: -5px;

.bar-li { position: relative; }
.bar-container {
    position: absolute;
    height: $barHeight;
    width: 100%;
    &.bar-container-paid { text-align: right; top:$barOffset; }
    &.bar-container-adds { text-align: left; top: $barHeight + $barSpacing + $barOffset; }
}
.bar { display: inline-block; position: relative; height: 100%; box-sizing: border-box; border: 1px #fff6 solid, 1px #0006 solid, 1px #0006 solid, 1px #fff6 solid; }
.bar-paid { background-color: var(--color-orange);}
.bar-vacation { background-color: var(--color-cyan);}
.bar-worked { background-color: var(--color-teal);}
.bar-excluded { background-color: var(--color-yellow);}
.bar-delta {
    position: absolute;
    border-left: 1px solid #999;
    top:21px;
    bottom: -18px;
    padding-left: 3px;
    font-size: 12px;
    padding-top: 5px;
}