.remarketing-revenue {
    min-width: 80px;
    text-align: end;
}

.remarketing-date {
    min-width: 90px;
}

.remarketing-select {
    min-width: 150px;
}

.remarketing-clear-placeholder {
    width: 30px;
    flex-shrink: 0;
}
