<router-outlet></router-outlet>

<app-header>
	<div class="logo" style="background-image: url(assets/images/marketing.jpg);"></div>
	<h1 i18n="@@i18n.common.marketing">marketing</h1>
	<ul class="nav">
		<header-link-item routerLink="dashboard" i18n-title="@@i18n.common.dashboard" title="dashboard"></header-link-item>
		<header-link-item routerLink="assets" i18n-title="@@i18n.common.assets" title="assets"></header-link-item>
		<header-link-item routerLink="metrics" [exact]="false" i18n-title="@@i18n.marketing.kpis" title="KPIs"></header-link-item>
		<header-link-item routerLink="workflows" [exact]="false" i18n-title="@@i18n.marketing.workflows" title="workflows"></header-link-item>
		<header-link-item routerLink="initiatives" [exact]="false" i18n-title="@@i18n.marketing.initiatives" title="initiatives"></header-link-item>
		<header-link-item routerLink="prospects" [exact]="false" i18n-title="@@i18n.marketing.prospects" title="prospects"></header-link-item>
		<header-link-item routerLink="remarketing" i18n-title="@@i18n.common.remarketing" title="remarketing"></header-link-item>
	</ul>
</app-header>