<table class="table mb-0" enableTableExport [filenamePrefix]="'project_detail_billing'" cdk-table
    [dataSource]="sortedItems" fixedLayout nx-table>

    <ng-container cdkColumnDef="icons">
        <th cdk-header-cell *cdkHeaderCellDef class="text-center" style="width: 20px;"></th>
        <td cdk-cell *cdkCellDef="let x" class="px-3">
            <project [project]="x"></project>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="createdAt">
        <th cdk-header-cell *cdkHeaderCellDef class="text-end text-truncate sortable" (click)="sortByColumn('created_at')" tabindex="0" (keydown.enter)="sortByColumn('created_at')">
            <span class="capitalize-first" i18n="@@i18n.common.created_at">created at</span>
            {{getSortIcon('created_at')}}
        </th>
        <td cdk-cell *cdkCellDef="let x" class="text-end small text-muted text-truncate" style="min-width:80px;">
            {{x.created_at | date}}</td>
    </ng-container>

    <ng-container cdkColumnDef="companyIcon">
        <th cdk-header-cell *cdkHeaderCellDef class="sortable" (click)="sortByColumn('company_id')" tabindex="0" (keydown.enter)="sortByColumn('company_id')">
            {{getSortIcon('company_id')}}</th>
        <td cdk-cell *cdkCellDef="let x" class="text-start">

            <div class="avatars-stack">
                @for (a of x.connection_projects; track $index) {
                <avatar [object]="a.other_company"></avatar>
                }
                <avatar [object]="x.company"></avatar>
            </div>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="name">
        <th cdk-header-cell *cdkHeaderCellDef class="sortable" (click)="sortByColumn('name')" tabindex="0" (keydown.enter)="sortByColumn('name')">
            <span class="capitalize-first" i18n="@@i18n.common.name">name</span> {{getSortIcon('name')}}
        </th>
        <td cdk-cell *cdkCellDef="let x" class="text-truncate">
            {{x.name}}
        </td>
    </ng-container>

    <ng-container cdkColumnDef="assignees">
        <th cdk-header-cell *cdkHeaderCellDef class="text-truncate">
            <span class="capitalize-first" i18n="@@i18n.common.assignees">assignees</span>
        </th>
        <td cdk-cell *cdkCellDef="let x" style="width:3rem;">
            <div class="avatars-stack">
                @for (user of x.assigned_users; track user.id) {
                <avatar [object]="user"></avatar>
                }
            </div>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="net">
        <th cdk-header-cell *cdkHeaderCellDef class="text-end sortable" (click)="sortByColumn('net')" tabindex="0" (keydown.enter)="sortByColumn('net')">
            <span class="capitalize-first" i18n="@@i18n.common.net">net</span> {{getSortIcon('net')}}
        </th>
        <td cdk-cell *cdkCellDef="let x" class="text-end">
            <div class="text-emphasis">{{x.net | money}}</div>
        </td>
    </ng-container>

    <ng-container cdkColumnDef="dueAt">
        <th cdk-header-cell *cdkHeaderCellDef class="text-center"></th>
        <td cdk-cell *cdkCellDef="let x" class="text-center position-relative py-0 overflow-visible">
            <div class="input-group">
                <input class="d-none" ngbDatepicker #d="ngbDatepicker" [footerTemplate]="footerTemplate"
                    [(ngModel)]="x.due_at" (dateSelect)="x.update()" [positionTarget]="datediv"
                    placement="bottom-left" />

                <button class="btn btn-plain">
                    <i #datediv (click)="d.toggle()" tabindex="0" (keydown.enter)="d.toggle()" class="{{x?.getDeadlineColor()}}"
                        ngbTooltip="{{x.due_at | date}}">calendar_month</i>
                </button>

                <ng-template #footerTemplate>
                    <hr class="my-0" />
                    <button class="btn btn-fancy btn-fancy-be float-end text-white" (click)="clearClicked(d, x)" tabindex="0" (keydown.enter)="clearClicked(d, x)" i18n="@@i18n.projects.removeDueDate">remove
                        due date</button>
                </ng-template>
            </div>
        </td>
    </ng-container>

    <tr cdk-header-row *cdkHeaderRowDef="displayedColumns" class="sticky-header"></tr>
    <tr cdk-row *cdkRowDef="let x; columns: displayedColumns;" [nx]="x" class="{{x.markerClass()}}"></tr>

</table>