<toolbar>
  <button class="btn btn-primary" role="alert" (click)="makeInvoice()">
    <n>invoice</n>
    <div i18n="@@i18n.invoice.create{invoiceNumber}">create {{ invoiceNumber }}</div>
  </button>
  @if (hasInactiveRepeatingItems()) {
    <button class="btn btn-outline-primary" (click)="activateRepeatingItems()">
      <i>schedule</i>
      <div i18n="@@i18n.invoice.activateRepeatingItems">activate recurring items</div>
    </button>
  }
</toolbar>

@if (parent.current) {
  <scrollbar>
    <div class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-9 annotate annotate-left">
        <invoice-prepare-wrapper
          [parent]="parent.current"
          [additionalBillingConsiderations]="backendConsiderations">
        </invoice-prepare-wrapper>
      </div>
    </div>
  </scrollbar>
}