@use 'sass:math';

.weekend  { background-color: #00000033; }
.vacation { background-color: rgba(0, 180, 220, 0.12); }
.sick     { background-color: rgba(0, 210, 180, 0.14); }

.day-wrapper {
    position: relative;
    height: 1.25rem;
    >* { position: absolute;}
    .bar { 
        border: 1px #0009 solid;
        //box-shadow: shadow();
        top:1px; bottom: 1px;
    }
    .date { top:-.25rem; left:0; padding:0; user-select: none; }
    .btn { right: .5rem; top: .25rem; margin: 0; padding: 0;}
    .total { right: 2rem; top:-.25rem; user-select: none; }
}

.detail-row {
    border-left: 5px transparent solid;
    padding-left: 10px;
}

.workday {
    &::before {
        content: '';
        background-color: #ffffff11;
        position: absolute;
        top:0; left: math.div(9, 24) * 100%; right: math.div(24 - 17, 24) * 100%; bottom: 0;
    }
}

.bar-unpaid::before {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: repeating-linear-gradient(
        45deg,
        #0009,
        #0009 5px,
        transparent 5px,
        transparent 10px
      ) !important;
}