<scrollbar>
    <div class="row">
        <div class="col-md-3">
            @if (parent.current) {
            <customer-payment-details></customer-payment-details>
            }
        </div>
        <div class="col-md-9">
            <div class="card mb-3">
                <div class="card-header" i18n="@@i18n.common.invoices">invoices</div>
                <invoices-table [observer]="observer" #table></invoices-table>
            </div>

            @if (table._invoices().length === 0) {
            <div class="card">
                <empty-state [card]="false" class="invoices" title="no invoices yet..."
                    i18n-title="@@i18n.invoices.noInvoicesYet"></empty-state>
            </div>
            }
        </div>
    </div>
</scrollbar>