.progress .progress-bar {
    position: relative;
}

.pm-badge {
    position: absolute;
    bottom: -3px;
    right: -5px;
    font-size: 0.65rem;
    line-height: 1;
    background: var(--bs-body-bg);
    border-radius: 50%;
    padding: 1px;
}