<div class="card card-chart mb-3">

  <div class="card-header gap-2">
    <n>invoice</n>
    <span class="flex-fill text-truncate" i18n="@@i18n.invoice.prepared">prepared</span>
    @if (value) {
      <div class="chart-title">{{(value ? value : 0) | mshort}}</div>
    }
  </div>

  <chart-card-range type="rangeArea" keyPath="params/CASHFLOW_INVOICES_PREPARED" [suffix]="' ' + global.currencySymbol()" roles="financial" color="teal" cardTitle="prepared invoices"></chart-card-range>

  <widget-options [options]="getOptions()" (updated)="_onUpdate($event)" (deleted)="onDelete($event)"></widget-options>

  @if (!getOptions()['chart-only']?.value) {
    <ul-compact>
      @for (_ of data; track _.id; let i = $index) {
        <li class="list-group-item d-flex text-nowrap"
          [class.compact]="i >= (options()['max-items']?.value ?? 0)"
          [nx]="_"
          context="widgetPreparedInvoices"
          [tables]="data"
          >
          @if (_.class === 'Company') {
            <div>
              <avatar [object]="_"></avatar>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="d-flex text-truncate">
                <div class="flex-fill text-truncate">{{_.name}}</div>
                <div class="text-muted">{{getAppliedNet(_) | mshort}}</div>
              </div>
            </div>
          }
          @if (_.class === 'Project') {
            <div>
              <project [project]="asProject(_)"></project>
            </div>
            <div class="flex-fill ms-3 text-truncate">
              <div class="d-flex text-truncate">
                <div class="flex-fill text-truncate">{{_.name}}</div>
                <div class="text-muted">{{getAppliedNet(_) | mshort}}</div>
              </div>
            </div>
          }
        </li>
      }
    </ul-compact>
  }

</div>