<toolbar>
    <div class="btn-group" ngbDropdown>
        <button type="button" class="btn btn-outline-primary dropdown-toggle" ngbDropdownToggle><i class="me-1">calendar_view_month</i>{{ currentViewMode() }}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" (click)="onViewModeChange('Day')" [class.active]="currentViewMode() === 'Day'"><i class="me-2">view_day</i>Day</button>
            <button class="dropdown-item" (click)="onViewModeChange('Week')" [class.active]="currentViewMode() === 'Week'"><i class="me-2">view_week</i>Week</button>
            <button class="dropdown-item" (click)="onViewModeChange('Month')" [class.active]="currentViewMode() === 'Month'"><i class="me-2">calendar_view_month</i>Month</button>
            <button class="dropdown-item" (click)="onViewModeChange('Year')" [class.active]="currentViewMode() === 'Year'"><i class="me-2">date_range</i>Year</button>
        </div>
    </div>
</toolbar>

@let _loading = loading();
@let _error = error();

<div class="gantt-container card sticky-side h-100">
    @if (_loading) {
        <spinner class="py-5"></spinner>
    }

    @if (!_loading && _error) {
        <div class="alert alert-danger m-3">{{ _error }}</div>
    }

    @if (!_loading && !_error) {
        <custom-gantt [rows]="ganttRows()" [viewMode]="currentViewMode()" [milestoneProjectMap]="milestoneProjectMap()" [workloadUser]="workloadUser" (addMilestone)="onAddMilestone($event)" (addTask)="onAddTask($event)"></custom-gantt>
    }
</div>
