<toolbar>
  @if (parent.current.state.progress === 0 && parent.current.invoice_items.length) {
    <div role="group" class="d-flex align-items-center gap-2" container="body">
      <!-- <button id="btnGroupDrop2" type="button" class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false" ngbTooltip="predictions" i18n-ngbTooltip="@@i18n.common.predictions">
      <i>schema</i>
    </button>
    <ul class="dropdown-menu">
      <li class="cursor-pointer"><a class="dropdown-item d-flex" (click)="onMyPrediction()"><span i18n="@@i18n.project.predictionUseMine" class="flex-fill">use my predictions</span><span class="text-muted"></span></a></li>
      <li class="cursor-pointer"><a class="dropdown-item d-flex" (click)="onMyPrediction()"><span i18n="@@i18n.common.predictionUseSuggested" class="flex-fill">use suggested predictions</span><span class="text-muted"></span></a></li>
    </ul> -->
  </div>
}
@if (parent.current.state.progress === 0) {
  @if (!warningMissingContact()) {
    <button id="btnGroupDrop2" type="button" class="btn btn-primary" ngbTooltip="create quote" i18n-ngbTooltip="@@i18n.project.createQuote" (click)="onQuote()" hotkey="CTRL+ALT+Q">
      <i>picture_as_pdf</i>
      <span i18n="@@i18n.common.quote">quote</span>
    </button>
  }
}

</toolbar>

<scrollbar>
  <div class="row">
    <div class="col-md-3">
      @if (parent.current) {
        <div class="card">
          <div class="card-header" i18n="@@i18n.common.addressee">addressee</div>
          <div class="card-body" ngbDropdown>
            @if (warningMissingContact()) {
              <button class="btn text-danger btn-plain" ngbDropdownToggle i18n="@@i18n.projects.noContactSpecified">no contact specified</button>
            }
            @if (!warningMissingContact()) {
              <button class="btn text-primary btn-plain" ngbDropdownToggle>{{adresseeName()}}</button>
            }
            <ul class="autoposition" ngbDropdownMenu style="text-transform: none;" aria-labelledby="addButton">
              @for (x of parent.current.company.employees; track x.id) {
                <li>
                  <a class="dropdown-item pointer d-flex px-3 py-2 cursor-pointer" (click)="onAddCompanyContact(x)" (keyup.enter)="onAddCompanyContact(x)" tabindex="0">
                    <div class="avatar me-3 avatar-sm">
                      <img class="avatar-img" src="{{x.icon}}" alt="">
                    </div>
                    <span>{{x.name}}</span>
                  </a>
                </li>
              }
            </ul>
          </div>
          <ul class="list-group">
            <li class="list-group-item" [innerHTML]="parent.current.company.address | safe:'html'"></li>
          </ul>
        </div>
      }
    </div>
    @if (parent.current) {
      <div class="col-md-9 annotate annotate-left">
        <div class="card mb-3 p-3">
          <text-param-editor #before key="PROJECT_PREFIX" [to]="parent.current.personalized" [object]="parent.current" [fallback]="true" [annotations]="false"></text-param-editor>
        </div>
        <invoice-prepare #table [parent]="parent.current" annotationType="quote" [companyRef]="parent.current.company"></invoice-prepare>
        <div class="card my-3 p-3">
          @for (quoteDescription of quoteDescriptions; track quoteDescription) {
            <div [innerHTML]="quoteDescription | safe:'html'"></div>
            <br>
            }
            <text-param-editor #after key="PROJECT_SUFFIX" [to]="parent.current.personalized" [object]="parent.current" [fallback]="true" [annotations]="false"></text-param-editor>
          </div>
        </div>
      }
    </div>
  </scrollbar>
