.form-control,
.form-control-sm {
    font-size: 0.875rem;
}

// State buttons
.btn-group {
    .btn {
        border-color: var(--bs-border-color);

        &.active {
            border-color: transparent;
        }
    }
}

// Dropdown for assignee / project
.dropdown-toggle {
    text-align: left;

    &::after {
        margin-left: auto;
    }
}

.dropdown-item {
    font-size: 0.875rem;

    &.active {
        background-color: var(--bs-primary);
    }
}
