<div class="card mb-3 node node-card position-relative"
  [ngClass]="getNodeTypeClass(node.type)"
  (click)="onEdit()" tabindex="0" (keydown.enter)="onEdit()"
  [ngStyle]="{ width: width + 'px', height: height + 'px' }">

  @if (isCondition()) {
    <div
      role="button"
      class="delete-button text-danger cursor-pointer"
      (click)="onDelete()" tabindex="0" (keydown.enter)="onDelete()">
      <i>delete</i>
    </div>
  }

  <div class="node-body">
    @if (node.type === SentinelNodeType.Trigger) {
      <div class="vstack">
        <div class="form-label">{{ObserverTrigger[sentinel.trigger]}}</div>
        <div class="form-label">{{sentinel.table_name}}</div>
      </div>
    }
    @if (node.type === SentinelNodeType.Condition) {
      <div class="vstack">
        @for (option of columnOptions; track option) {
          <div class="form-label">{{option.label}} {{option.value}}</div>
        }
        @if (getCondition(node.condition); as condition) {
          <div class="form-label">{{condition.label}}</div>
        }
        @for (option of options; track option) {
          <div class="form-label">{{option.label}} {{option.value}}</div>
        }
      </div>
    }
    @if (node.type === SentinelNodeType.Command) {
      <div>
        <div class="form-label">{{getCommandLabel()}}</div>
      </div>
    }
  </div>

</div>
