@if (superadmin) {
  <div class="card mb-3 border-warning">

    <div class="card-header gap-2">
      <i class="text-warning">warning</i>
      <span class="flex-fill text-truncate" i18n="@@i18n.widget-superadmin-warning">security notice</span>
    </div>

    <div class="card-body">
      <p class="mb-3" i18n="@@i18n.widget-superadmin-warning.description">
        The default <strong>Super Admin</strong> account is still active. Once you have your own admin account set up, delete this account to improve security.
      </p>
      <button class="btn btn-warning" [disabled]="loading" (click)="retire()">
        @if (loading) {
          <span class="spinner-border spinner-border-sm me-2"></span>
        } @else {
          <i class="me-1">person_off</i>
        }
        <span i18n="@@i18n.widget-superadmin-warning.retire">delete super admin</span>
      </button>
    </div>

  </div>
}
