@let _requests = requests();

@if (_requests.length) {
    <div class="header hstack gap-2">
        <span class="flex-fill" i18n="@@i18n.common.deletionRequests">deletion requests</span>
        <i class="pointer" tabindex="0" (click)="toggle('deletionRequests')" (keyup.enter)="toggle('deletionRequests')">{{ isCollapsed('deletionRequests') ? 'expand_less' : 'expand_more' }}</i>
    </div>
    @if (!isCollapsed('deletionRequests')) {
        <ul class="list-group">
            @for (_ of _requests; track _.id) {
                <li class="list-group-item d-flex align-items-center">
                    <div class="avatar mt-1 d-flex me-3">
                        <img class="avatar-img" src="{{ _.user.icon }}" alt="User avatar" />
                    </div>
                    <div class="flex-fill">
                        <div>
                            {{ _.model?.getName() || _.targetClass() }}
                            <span class="badge bg-dark">{{ _.targetClass() }}</span>
                        </div>
                        @if (_.reason) {
                            <small class="text-muted">{{ _.reason }}</small>
                        }
                    </div>
                    <i class="ms-2 text-primary pointer" (click)="approve(_)" (keyup.enter)="approve(_)" tabindex="0" i18n-ngbTooltip="@@i18n.common.approve" ngbTooltip="approve">check</i>
                    <i class="ms-2 text-primary pointer" (click)="reject(_)" (keyup.enter)="reject(_)" tabindex="0" i18n-ngbTooltip="@@i18n.common.reject" ngbTooltip="reject">close</i>
                </li>
            }
        </ul>
    }
}
