scrollbar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-x: hidden;
}

.widget-list {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.widget-preview {
    cursor: move;
    user-select: none;
    opacity: 0.9;
    transition: opacity 0.2s;
    margin-bottom: 0.5rem;

    &:hover {
        opacity: 1;
    }
}
::ng-deep { 
    .widget-used .card-header {
        opacity: 0.5;
    }
    #widget-list .card>*:not(.card-header) {
        display: none;
    }
}