@let _data = data();

<div class="row">
    <div class="col-12">
        <div class="card">
            @if (_data && _data.length === 0) {
                <empty-state [card]="false" class="invoices" i18n-title="@@i18n.invoices.noCashflowYet" title="No cash flow data yet">
                    <p i18n="@@i18n.invoices.cashflowEmptyDescription">Upload a bank CSV export to visualize your cash flow and uncover the financial pulse of your business.</p>
                </empty-state>
            }
            @if (_data && _data.length > 0) {
                <table stackedTable class="table w-100 table-hover">
                    <thead>
                        <tr class="sticky-header">
                            <th style="width:100px;">
                                <div class="btn btn-sm btn-outline-white cursor-default" dnd="invoices/cashflow/upload" [dndAllowed]="['text/csv', 'text/plain', 'application/csv', 'application/vnd.ms-excel']" (dndUploaded)="onCsvUploaded()">
                                    <i class="me-1">upload_file</i>
                                    <span>CSV</span>
                                </div>
                            </th>
                            @for (key of keys; track key) {
                                <th class="text-{{ color(key) }}" [ngbTooltip]="i18n(key)">
                                    <i>{{ headerIconFor(key) }}</i>
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (day of _data; track day) {
                            <tr>
                                <td class="text-muted small">{{ day.day }}</td>
                                @for (key of keys; track key) {
                                    <td class="text-end small">
                                        @let _values = valuesFor(day, key)?.data ?? [];
                                        @for (data of _values; track data) {
                                            <div class="text-{{ data.value > 0 ? color(key) : 'dark-grey' }}">{{ data.value | money }}</div>
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <continuous-marker [observer]="observer()" (dataReceived)="onResult($event)"></continuous-marker>
        </div>
    </div>
</div>
