@let _user = user();
@let _project = project();
@let _pluginEncryptions = pluginEncryptions();
@if (_user) {
    <activity-tab icon="security" [badge]="encryptionsValid() ? undefined : '!'">
        <div class="container">
            @if (!_user.public_key) {
                <scrollbar>
                    <rsa-settings-empty [user]="_user"></rsa-settings-empty>
                </scrollbar>
            }
            @if (_user.public_key) {
                <scrollbar>
                    <rsa-settings [user]="_user"></rsa-settings>
                    @if (_project) {
                        <div class="header">{{ _project.name }}</div>
                        <ul class="list-group">
                            @for (p of _project.plugin_links; track p.id) {
                                @let _instance = instanceFor(p);
                                <li class="list-group-item d-flex" [nx]="p" [tables]="_project.plugin_links">
                                    <div class="ms-1 me-2">
                                        <n [ngbTooltip]="_instance?.state" class="text-{{ _instance?.getStateCss() }}">{{ _instance?.icon() }}</n>
                                    </div>
                                    <div>
                                        {{ _instance?.getName() }}
                                    </div>
                                </li>
                            }
                        </ul>
                    }
                    <div class="header">
                        <span i18n="@@i18n.encryption.myTokens">my tokens</span>
                        <i class="float-end text-primary cursor-pointer" smartLink="/profile/plugins">chevron_right</i>
                    </div>
                    <ul class="list-group">
                        @for (p of _pluginEncryptions; track p.id) {
                            @let _instance = instanceFor(p);
                            <li class="list-group-item d-flex" [nx]="p" [tables]="_pluginEncryptions">
                                <div class="ms-1 me-2">
                                    <n [ngbTooltip]="_instance?.state" class="text-{{ _instance?.getStateCss() }}">{{ _instance?.icon() }}</n>
                                </div>
                                @if (p.value.url) {
                                    <div class="flex-fill">
                                        {{ p.value.url }}
                                    </div>
                                }
                                @if (_project) {
                                    <div>
                                        @if (_instance?.icon() === 'mattermost') {
                                            <i class="text-primary cursor-pointer" (click)="onNewPluginChannel(_instance!)" (keyup.enter)="onNewPluginChannel(_instance!)" tabindex="0" ngbTooltip="create new channel">add_comment</i>
                                        }
                                        <i class="text-primary cursor-pointer" (click)="onNewPluginLink(_instance!)" (keyup.enter)="onNewPluginLink(_instance!)" tabindex="0" ngbTooltip="link ID">add</i>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </scrollbar>
            }
        </div>
    </activity-tab>
}
