<div class="modal d-block" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="modal-title" i18n="@@i18n.user.addNewUser">add new user</span>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" i18n="@@i18n.common.name">name</span>
                    <input type="text" class="form-control" [(ngModel)]="name" (keyup.enter)="accept()">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" i18n="@@i18n.common.email">e-mail</span>
                    <input type="email" class="form-control" [(ngModel)]="email" (keyup.enter)="accept()">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" i18n="@@i18n.common.password">password</span>
                    <input type="password" class="form-control" [(ngModel)]="password" (keyup.enter)="accept()">
                    <span class="input-group-text text-muted small" i18n="@@i18n.user.passwordMinLength">min. 8 chars</span>
                </div>
                @if (error) {
                    <small class="text-danger">{{ error }}</small>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="decline()" i18n="@@i18n.common.cancel">cancel</button>
                <button type="button" class="btn btn-primary" [disabled]="!canSubmit" (click)="accept()" hotkey="CTRL+ENTER" i18n="@@i18n.common.add">add</button>
            </div>
        </div>
    </div>
</div>
