@let _showDeprecated = showDeprecated();
@let _isLoading = isLoading();
@let _groups = groups();

<div class="card-header d-flex align-items-center sticky-side">
    <span class="me-auto" i18n="@@i18n.common.productGroups">product groups</span>
    <div class="d-flex gap-2 ms-2">
        <span class="cursor-pointer" (click)="toggleDeprecated()" (keyup.enter)="toggleDeprecated()" tabindex="0" [ngbTooltip]="_showDeprecated ? 'hide deprecated' : 'show deprecated'">
            <i [class]="_showDeprecated ? 'text-primary' : 'text-muted'">{{ _showDeprecated ? 'visibility' : 'visibility_off' }}</i>
        </span>
        <span class="cursor-pointer" (click)="onGroupCreate()" (keyup.enter)="onGroupCreate()" tabindex="0" ngbTooltip="add product group" hotkey="CTRL+ALT+G">
            <i class="text-muted">create_new_folder</i>
        </span>
    </div>
</div>

<scrollbar>
    @if (_isLoading) {
        <spinner class="py-3"></spinner>
    } @else {
        <div class="tree-view py-1">
            @for (x of _groups; track x.id) {
                <product-tree-list [group]="x" [showDeprecated]="_showDeprecated" [depth]="0"></product-tree-list>
            }
        </div>
    }
</scrollbar>
