<toolbar>
  <div class="btn-group" ngbDropdown>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
      <i>add</i>
      <span class="visually-hidden" i18n="@@i18n.invoices.toggleDropdown">toggle dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
      <button type="button" class="dropdown-item" (click)="onCreate(32)">
        <span i18n="@@i18n.common.monthly">monthly</span>
      </button>
      <button type="button" class="dropdown-item" (click)="onCreate(43)">
        <span i18n="@@i18n.common.yearly">yearly</span>
      </button>
    </div>
  </div>
</toolbar>

@if (parent.current) {
  <invoices-standing [parent]="parent.current" [class.d-none]="table.items.length === 0" #table></invoices-standing>
  @if (table.items.length === 0) {
    <div class="card">
      <empty-state [card]="false" class="invoices" title="no standing orders" i18n-title="@@i18n.invoices.noStandingOrders"></empty-state>
    </div>
  }
}
