@for (toast of toastService.toasts(); track toast) {
<ngb-toast class="fs-6 align-items-top mb-2 {{toast.classname}}" [autohide]="toast.autohide !== false" [delay]="toast.delay ?? 5000" (hidden)="toastService.remove(toast)">
    <div class="hstack gap-2">
        @if (toast.icon) {
        <i class="fs-4">{{toast.icon}}</i>
        }
        <div class="flex-fill">
            @if (asTemplate(toast); as tpl) {
            <ng-template [ngTemplateOutlet]="tpl"></ng-template>
            } @else {
            <div [innerHTML]="toast.textOrTpl | safe:'html'"></div>
            }
            @if (toast.progress !== undefined) {
            <div class="progress mt-1" style="height:3px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" [style.width.%]="toast.progress"></div>
            </div>
            }
            @if (toast.actions?.length) {
            <div class="hstack gap-1 mt-2">
                @for (action of toast.actions; track action.label) {
                <button class="btn btn-sm btn-outline-primary" (click)="action.onClick()">{{action.label}}</button>
                }
            </div>
            }
        </div>
    </div>
</ngb-toast>
}
